@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start: #08090F;
    --background-end: #08090F;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom */
.custom-dark-high{
  background-color: #08090F;
}
.custom-dark-low{
  background-color: #191728;
}
.custom-purple-high{
  background-color: #431484;
}
.custom-purple-low{
  background-color: #752EF0;
}
